@charset "UTF-8";

*{
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #A31E23, #FA9F1A, #D67A2F, #EC9011,#A31E23);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(110, 21, 24, 0.712);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color:#A31E23;
    text-align: center;
    text-shadow: 1px 1px 2px #631316c7;
}

h2{
    color: #A31E23;
}

p{
    text-align:justify;
}